body {
    margin: 0%;

}
.banner {
    /* max-width: 1440px; */
    width: 100%;
    height: 300px; /* Définissez une hauteur pour votre bannière */
    background-image: url('bank-tree.jpeg'); /* Chemin vers votre image de fond */
    background-size: cover; /* Redimensionne l'image pour couvrir l'ensemble de la zone */
    background-position: center; /* Centre l'image de fond */
}
.hero {
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
  }
  

  
  .hero-content .subtitle {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
  }
  
  .hero-content .text {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  
.login {
    display: flex;
    justify-content: flex-end; /* Aligner les éléments à droite */
}

.login ul {
    list-style-type: none; /* Supprimer le point de la liste */
    padding: 0; /* Supprimer le remplissage de la liste */
    margin: 0; /* Supprimer la marge de la liste */
}

.login ul li {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    margin-right: 20px;
    display: flex;
    position: relative;
    bottom: 45px;
    color: black;
}
/* Style pour les liens */
.login ul li a {
    text-decoration: none; /* Supprimer la décoration du lien */
    color: black; /* Couleur du texte */
    font-weight: bold; /* Police en gras */
    font-size: 16px; /* Taille de la police */
}

/* Style pour les liens au survol */
.login ul li a:hover {
    color: gray; /* Couleur du texte au survol */
}
.logo img{
    max-width: 100%;
    width: 200px;
}
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (min-width: 920px){
    .features {
        flex-direction: row;
        display: flex;
        justify-content: center;
    }
  }

  
  .feature-icon {
    width: 100px;
    border: 10px solid #00bc77;
    border-radius: 50%;
    padding: 1rem;
  }
  
  .feature-item {
    flex: 1 1;
    padding: 2.5rem;
    max-width: 200px;
}
  
  .feature-item-title {
    color: #222;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid #ccc;
    padding: 2rem 0 1.5rem;
  }
  
  .footer-text {
    margin: 0;
    padding: 0;
  }
  .hero-content {
    position: relative;
    bottom: 15rem;
    width: 200px;
    background: white;
    padding: 2rem;
    text-align: left;
    margin: 0 auto;
    left: 10rem;
}
/* LOGIN */
.bg-dark {
    background-color: #12002b;
  }
  
  .sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
  }
  
  .sign-in-icon {
    font-size: 5rem;
  }
  
  .input-remember {
    display: flex;
  }
  
  .input-remember label {
    margin-left: 0.25rem;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .input-wrapper label {
    font-weight: bold;
  }
  
  .input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
  }
  
  .sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
  }
  .bg-dark {
    background-color: #12002b;
  }
  
  .header {
    color: #fff;
    margin-bottom: 2rem;
  }
  
  .edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }
  /* USSER */
  .logout {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 30px;
}
  .main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
  }
  
  .main-nav-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .main-nav-logo-image {
    max-width: 100%;
    width: 200px;
  }
  
  section.account {
    width: 1440px;
}
  .account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 2rem;
  }
  
  .account-amount {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .account-amount-description {
    margin: 0;
  }
  
  .account-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .account-content-wrapper {
    width: 100%;
    flex: 1;
  }
  
  .edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }
  
  .header {
    color: #fff;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .transaction-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
  }
  
  @media (min-width: 720px) {
    .account {
      flex-direction: row;
    }
  
    .account-content-wrapper.cta {
      flex: 0;
    }
  
    .transaction-button {
      width: 200px;
    }
  }
  